* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./image\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
}

ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size: medium;
    margin-top: 30px;
}

button {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 150px;
    border: none;
    background-color: rgb(166, 31, 31);
    color: #fff;
    transition: .3s;
    font-size: small;
}

button:hover {
    cursor: pointer;
    height: 100px;
    width: 200px;
    margin-top: 175px;
    font-size: medium;
}

